.movie {
  margin-top: 50px;
  box-sizing: border-box;
  background-color: red;

  tr {
    margin: 0;
    padding: 0;
  }
}
.left {
  float: left;
}

.right {
  float: right;
}

.sub-nav {
  top: 8%;
}

.margin {
  margin: 5px;
}
.margin-left {
  margin-left: 5px;
}

.fas {
  cursor: pointer;
}

.username {
  color: white;
}
.rating-rated {
  color: orange;
}